@keyframes wiggle {
    0% {
        rotate: 0deg;
    }
    20% {
        rotate: 10deg;
    }
    40% {
        rotate: -10deg;
    }
    50% {
        transform: scale(2);
    }
    60% {
        rotate: 10deg;
    }
    80% {
        rotate: -10deg;
    }
    100% {
        rotate: 0deg;
        transform: scale(1);
    }
}

body {
    background: #2ED8D8;
    background: linear-gradient(to bottom right, #2ED8D8 0%, #9A7BFF 55%, #014EC1 100%);
    background-attachment: fixed;
}

.hamburg {
    background-color: #ffffff00;
    backdrop-filter: blur(8px);
    transition-duration: .5s;
    border-bottom: 1px solid #dcfaff15;

    &:hover {
    background-color: #ffffff98;
    }
}

.devTitle {
    padding-left: 10px;
}

.bannerName {
    font-size: 1.8rem;
    color: #424242;
    margin: 0;
    align-content: end;
}

.hamburgBtn {
    background-color: #ffffff00;
    border: none;
    width: 5rem;

    & :hover {
        color: #000;
    }
}

.menuBtn {
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: #424242;
    margin: 6px 0;
}

nav {
    align-items: end;

    & a {
        color: #737373;
        border-radius: 10px;
        transition-duration: .3s;

        &:hover {
            background-color: #737373;
            color: white;
        }
    }
}

.hero {
    height: calc(100vh + 51px);
}



.titleCard {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 13px 0px #5c5c5c;
    background-color: white;
    max-width: 632px;
    height: fit-content;
    z-index: 1;

    & .h1 {
        color: #5a5a5a;
    }

    & h1 {
        color: #303030;
    }

    &:hover {

        & .cat {
            translate: 0 -3rem;
            opacity: 1;
        }
        
    }
}

.cat {
    top: 0;
    left: 80%;
    border: none;
    z-index: 0;
    transition-duration: .5s;
    opacity: 0;
    background-color: #ffffff00;

    & img {
        background-color: white;
        padding: .5rem;
        border-radius: 10px;
        width: 4rem;
        position: absolute;
        height: auto;
    }
}

.wigContainer:hover > .wiggle {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.headShot {
    border-radius: 50%;
}

.name {
    font-size: clamp(4rem, calc(.5rem + 5vw), 8rem);
    letter-spacing: -2px;
}

.languages img {
    width: 4rem;
}

.projects {
    background-color: #fff;
    color: #5a5a5a;
    height: 500px;
}

.projectsCard {
    top: calc(85vh + 1px);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 13px 0px #5c5c5c;
    padding-bottom: 12px;
}

.projectCard {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px #9e9e9e;
}

.projectImg {
    border-radius: 10px;
    border: 1px solid #ffffff00;
    transition-duration: .3s;

    &:hover {
        transform: scale(1.05);
    }
}

.sourceCode {
    background: #2ac4c4;
}

.gradient {
    background: linear-gradient(to bottom, #FFFFFF00 0%, #FFFFFF 100%);
    height: 100px;
    position: absolute;
    bottom: 0;
}